[users.admin]
password = "VastAdmin#2026"
role = "Admin"

[users.manager]
password = "LeadMgr#2026"
role = "Manager"

[users.sales1]
password = "SalesOne#2026"
role = "Sales"

[users.sales2]
password = "SalesTwo#2026"
role = "Sales"

[users.viewer]
password = "ViewOnly#2026"
role = "Viewer"
